%row
  .container
    - articles.each do |article|
      = haml :article_preview, :locals => {article:article}

%ul.pagination
  %li.waves-effect{:class => ("disabled" if page.current==1)}
    %a{:href => "/?page=#{page.current-1}"}
      %i.material-icons chevron_left

  - (1..page.max).each do |i|
    %li.waves-effect{:class => ("active" if page.current==i)}
      %a{:href => "/?page=#{i}"} #{i}

  %li.waves-effect{:class => ("disabled" if page.current==page.max)}
    %a{:href => "/?page=#{page.current+1}"}
      %i.material-icons chevron_right